# dependencies
node_modules/
logs/

# test example
testExample/

handy-booking-server.zip

# misc
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.dockerignore
Dockerfile